*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

h1, h2{
    color: #77021d;
}
h2{
    text-align: center;
}
button{
    border-radius: 15px ;
    background-color: #77021d;
    color: white;
    border: 0px;
    width: 150px;
    height: 35px;
}
button[type=submit]{
    background-color: #C23028;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
button[type=submit]:hover{
    background-color: #D7572B;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.form-question{
    margin-top: 150px;
    border-radius: 15px;
    border:1px solid rgba(0, 0, 0, 0.397);
    width: 410px;
    height: 35px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.divquestion{
    display: flex;
    align-self: flex-end;
}
.divquestion>img{
    width :75px !important;
    height: 75px !important;
}
.question { border: 1px solid #F6B339;
    background-color:#F6B339;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    margin-right: 15px;
}
.divanswer{
    display: flex;
    align-self: flex-start;
}
.divanswer>img{
    width :75px !important;
    height: 55px !important;
}

.answer{
    border: 1px solid #DA7B27 ;
    background-color: #DA7B27 ;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
}
.chatbox{
    border:1px solid rgba(0, 0, 0, 0.397);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

form.chat{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}